.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member {
    text-align: center;
    margin-bottom: 20px;
}

.member img {
    width: 250px;
    height: 250px;    
    border-radius: 50%;
    margin-bottom: 10px;
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .member img {
        width: 150px; /* Adjust the width for smaller screens */
        height: 150px; /* Adjust the width for smaller screens */
    }
}

@media (min-width: 769px) {
    .member img {
        height: 200px;
        width: 200px; /* Adjust the maximum width for larger screens */
    }
}

.name {
    font-weight: bold;
}

.position {
    color: #666;
}

.story {
    text-align: justify;
}

.how-code-works {
    text-align: center;
    padding-right: 20px;
  }
  
  .how-code-works a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #FFDAB9;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .how-code-works a:hover {
    background-color: #aeaeac;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: #000; /* Adjust color as needed */
}

/* Additional styling for social links if desired */
