.carousel-container {
    position: relative;
    max-width: 80%;
    height: 335px;
    min-height: 270px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    overflow: hidden; /* Add this to make sure content doesn't overflow the container */
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item {
    width: 100%;
    height: 100%; /* Ensure each item fills the container */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;
  }

  .testimonial-image {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 5px; /* Space between the image and the text */
    border-radius: 50%; /* Optional: makes the image circular */
  }
  
  .carousel-item.active {
    opacity: 1;
    visibility: visible;
    position: relative;
  }
  
  .testimonial-text {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
    margin-bottom: 5px;
  }
  
  .testimonial-author {
    font-size: 1em;
    font-weight: bold;
    color: #666;
  }
  
  .carousel-control {
    background: none;
    border: none;
    color: #333;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  
  /* Responsive design for smaller devices */
  @media (max-width: 768px) {
    .testimonial-image {
      width: 100px;
    }
    .carousel-container {
      max-width: 90%;
      min-height: 235px;
      height: 175px;
    }
    .testimonial-text {
      font-size: 1em;
    }
  }
  
  @media (max-width: 400px) {
    .testimonial-image {
      width: 100px;
    }
    .carousel-container {
      max-width: 90%;
      min-height: 150px;
      height: 175px;
    }
  }
