.ingredient-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.ingredient-container {
  width: 80%;
}