.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 89%;
}

.recipe.expanded {
  height: auto;
  background-color: #f0f0f0;
}

.recipe-body {
  margin-top: 10px;
}
