.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  font-family: 'Inter Variable', serif;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s ease-in-out; 
  width: 89%;
  height: auto;
}

.recipe.expanded {
  height: auto;
  background-color: #FFDAB9;;
}

.recipe-body {
  margin-top: 10px;
}
