@font-face {
  font-family: 'Inter Variable', sans-serif;
}

.container {
  flex: 1;
  max-width: 90%;
  margin: 0 auto; /* Center the container */
}

@media screen and (max-width: 768px) {
  .top-pane img {
    width: 30%;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .navigation-bar img {
    width: 75%;
  }  
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 0px;
    width: 100%;
  }
  .header-text {
    padding-top: 20px;
  }
  .top-pane {
    padding-bottom: 10px;
  }
  * {
    font-size: 93%;
  }
}

.top-pane {
  width: 100%;
  margin: 0 auto; /* Center the top pane horizontally */
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: none;
}

.header-text {
  align-items: center;
  text-align: center;
  transform: translateX(-8);
  padding-bottom: 20px;
}

body {
  background-color: #F5F5DC;
  padding: 20px;
  padding-top: 0px;
  font-size: 100%;
  font-family: 'Inter Variable', serif;
}

.navigation-bar {
  position: static;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  background-color: #FFDAB9; /* Set background color */
  border-radius: 999px; /* Add rounded edges */
  padding-top: 5px;
}

.navigation-bar a {
  margin: 0 10px; /* Add margin between navigation items */
}

.title {
  font-family: 'Inter Variable', serif;
  font-size: 2em;
}

.subtitle {
  font-family: 'Inter Variable', serif;
  font-size: 1.2em;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use 100% of the viewport height */
}